body {
  margin: 0;
}

.MainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.MainWrapper .MenuBar {
  background-color: #e7e7e7;
  width: 80%;
  padding: 10px;
}

.MainWrapper .Content {
  border-color: #472262;
  width: 80%;
  padding: 10px;
  flex: 1 1;
}


@media (max-width: 800px) {
  .MainWrapper .MenuBar {
    width: 100%;
  }

  .MainWrapper .Content {
    width: 100%;
  }
}
