.MenuBar .fa{
  color:#fff;
  font-size:1.3rem;
}
.MenuBar a{
  color:#fff;
  text-decoration:none;
  display:flex;
  justify-content:center;
  flex-direction:row;
  align-items: center;
  width:100%;
  padding:10px;
  transition:background 200ms ease-out;
}
.MenuBar a.active{
  background:#e21350;
}

.MenuBar .tag{
  display:none;
  margin-left:10px;
}

.MenuBar .logout {
  background-color: #ff5d5d;
}

.MenuBar .logout:hover {
  background-color: #e64917;
}

@media screen and (min-width:800px){
  .MenuBar .tag{
    display:inline-block;
  }
}
