.ProfileInfo{
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
}
.ProfileInfo .profilePicture{
  width:200px;
  height:200px;
  margin-right:11px;
}
.ProfileInfo .profilePicture img{
  width:100%;
}
.ProfileInfo .profileName{
  font-size:32px; font-weight:bold;
}

@media screen and (max-width: 800px) {
  .ProfileInfo .profilePicture{
    width:100px;
    height:100px;
  }
  .ProfileInfo .profileName{
    font-size:26px; font-weight:bold;
  }
}
